:root {
    /*max-width: 1280px;*/
    margin: 0 auto;
    padding: 2rem;
    text-align: center;

    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: black;
    background-color: white;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}
a:hover {
    color: #535bf2;
}

:body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    border: 2px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    color: white;
    background-color: black;
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover {
    border-color: #646cff;
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

input {
    color: black;
    background-color: white;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.bigMan {
    color: black;
    place-items: center;
    background-color: gainsboro;
    border-radius: 15px;
    width: 100%;
}

.header {
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
div.bigMan div a {
    color: rgb(0, 0, 0);
}
.error-message {
    color: red;
    font-family: "Courier New", Courier, monospace;
}
